/* about-img img is wrong. Theres more detail in the original */
html {
  scroll-behavior: smooth;
}
body {
	background-color: rgba(242, 242, 243, 1);
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
h1, h2, h3 {
  font-family: Comfortaa; 
    color: #8DA9D4;
}

.schedule_content_div {
  margin-top: 3%;
  position: absolute;
  margin-left: 5%; 
  margin-right: 10%; 
}
.schedule_text {
  font-family: Comfortaa;
  color: #58595B;
}
 h4, p {
  font-family: Open Sans;
  color: #58595B;
  font-weight: 100;
}
.flex-container {
	display: flex;
	margin-right: 5%;
	width: 90%;
	margin-left: 5%;
}
.schedule_wrapper {
  height: 80%;
  margin-top: 3%;
  width: 50%;
  overflow: auto;
}
.schedule_wrapper::-webkit-scrollbar {
    width: 39px;
    padding-top: 5%;
}
 
/* Track */
.schedule_wrapper::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

}
 
/* Handle */
.schedule_wrapper::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.schedule_wrapper::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.navbar {
  align-items: center;
  margin-top: 1rem;
  margin-left: 2%;
  justify-content: space-between;
}
.nav-buttonbar {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}
.nav-title {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: transparent;
  border: 0;
  color: #8DA9D4;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Comfortaa; 
  font-weight: 50px;
  font-size: 25px;
  padding: 5px;
}
.nav-title:hover {
  color: white;
}
.nav-link {
  text-decoration: none;
}
.apply-button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: rgba(1, 1, 1, 0);
  color: #8DA9D4;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-family: Comfortaa;
  font-size: 25px;
  text-decoration: none;
  z-index: 99;
  margin-left: auto;
  border: 3px solid #8DA9D4;
  white-space: nowrap;
  text-align: center;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
}

.apply-button:hover {
  background-color: #8DA9D4; 
  color: white;
}
.home {
  flex-direction: column;
  position: relative;
  height: 100vh;
}
.home-img {
  height: 80%;
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
}
#circleHolder {
  width: 100%;
  height: 100%;
  position: absolute;
}
.splashBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("redef1transparent.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 50;
}
.splashh {
  position: absolute;
  width: 3rem;
  height: 3rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /*transition: ease-in-out 10s;*/
  transform: rotate(0deg);
}

.home-img {
  height: 80%;
  width: 100%;

  position: relative;
  overflow: hidden;
}

.splash1 {
  border-radius: 50%;
  background-image: url("bluecirc.png");
}
.splash2 {
  border-radius: 50%;
  background-image: url("redcirc.png");
}
.splash3 {
  border-radius: 50%;
  background-image: url("cyancirc.png");
}

.circle-group {
  display: flex;
  padding-bottom: 5%;
  position: relative;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #83A2D4;
  border-radius: 50%;
  margin-left: 10%;
  margin-top: 20px;
}
.circle-frame {
  height: 25px;
  width: 25px;
  background-color: #83A2D4;
  border-radius: 50%;
  margin-left: 10.6%;
  margin-top: 20px;
}
.circle-iterate {
  height: 25px;
  width: 25px;
  background-color: #83A2D4;
  border-radius: 50%;
  margin-left: 9.8%;
  margin-top: 20px;
}
.circle-lines {
  margin-top: 1%;
  padding-left: 6%;
}

.about-text {
  margin-right: 15%;
  color: #58595B;
  font-family: Open+Sans;
  font-size: 20px;
  z-index: 1;
}
.content-section {
  height: 100%;
  min-height: 40rem;
  width: 100%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}
#speakers {
  height: 20%;
}
#about {
	background-color: white;
  height: auto;
}

#about > * {
  z-index: 1;
}

.about-img {
  height: 50%;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#speakers {
  background-color: white;
  height: auto;
  min-height: auto;

}

#speakers-flex {
  flex-wrap: wrap;
  margin-left: 0;
  justify-content: space-around;
}

#speaker-card {
  /*margin: 5% 5%;*/
  padding: 1em 1em;
  height: auto;
  width: auto;
  text-align: center;
}

.speaker-pics {
/*  height: 80%;
  width: 80%;*/
  height: 10em;
  width: 10em;
}
.speaker-pic-container {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
}

/*.speaker-pic-container:hover .speaker-pics {
  opacity: 0.6;
}*/

.speaker_hover_text_title {
  position: absolute;
  left: 3%;
  top: 25%;
  display: none;
}
.speaker_hover_text {
  position: absolute;
  top: 40%;
  display: none;
}
.speaker-pics:hover ~ .speaker_hover_text{
  display: block;
}
.speaker-pics:hover ~ .speaker_hover_text_title{
  display: block;
}
.speaker_hover_text:hover {
  display: block;
}
.speaker_hover_text_title:hover {
  display: block;
}
.speaker_hover_text_title:hover ~ .speaker_hover_text{
  display: block;
}
.speaker_hover_text:hover ~ .speaker_hover_text_title{
  display: block;
}




#speaker-name {
  margin-bottom: .1em;
}

.speak-pos {
  font-weight: 100;
  margin: 0 auto;
}

.speak-org {
  font-weight: 900;
  margin: 0 auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #58595B;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  margin-left: 0;
  border: none;
  outline: none;
  font-family: Karla;
  font-size: 24px;
  transition: 0.4s;
}
.text-link {
  text-decoration: none;
  color: #8DA9D4;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
/*  padding: 0 18px;
*/  background-color: white;
  max-height: 0; 
  overflow: scroll;
  font-family: Karla;
  font-size: 20px;
  color: rgba(88, 89, 91, 1);
    transition: max-height 0.2s ease-out;
    padding-right: 15%;
    padding-left: 5%;
}

#faq {
  height: auto;
}

#sponsors {
  height: auto;
  min-height: 15rem;
  justify-content: center;
}

.sponsorsflex {
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsorDivImg {
  width: 16rem;
  height: 8rem;
  margin: 1rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  /*opacity: 0.7;*/
  filter: saturate(80%);
  transition: ease-in-out 0.2s;
}

.sponsorDivImg:hover {
  opacity: 1;
  filter: saturate(150%);
  transition: ease-in-out 0.3s;
}

.linode {background-image: url('sponsor_logos/linode.png');}
.north {background-image: url('sponsor_logos/north.png');}
.startup {background-image: url('sponsor_logos/startup.png');}
.ticket {background-image: url('sponsor_logos/ticket.png');}
.sketch {background-image: url('sponsor_logos/sketch.png');}
.oa {background-image: url('sponsor_logos/oa.png');}


.hoverTable {
  border-collapse:collapse; 
  font-family: Comfortaa; 
  font-size: 24px;
  height: 10%;
}
.hoverTable td{ 
  padding:20px; border:black 1px solid;
}

.hoverTable tr:hover {
  background-color: #C6D3E7;
}
.table_time {
  color: #83A2D4;
}
#sponsors {
  background-color: white;
}

@media (max-width: 40rem) {
  .navbar {
    margin-left: 0;
    margin-right: 0;
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-img {
    height: 50%;
  }
  .apply-button {
    margin: auto;
    margin-top: 0.5rem;
  }
  .nav-buttonbar {
    justify-content: center;
  }
  .nav-title {
    font-size: 25px;
  }
  .circle-lines {
    width: 50%;
  }
  .about-img {
    display: none;
  }
  .sponsorDivImg {
    width: 15rem;
    height: 10rem;
    margin: 1rem;
  }
}